* {
  font-family: 'Gowun Dodum', sans-serif;
}

body {
  max-width: 720px;
  margin: 0 auto;
}

/* 헤더 */
#header {
  display: flex;
  justify-content: space-between;
  background-color: lightgoldenrodyellow;
  align-items: center;
  width: 100%;
  position: fixed;
  max-width: 720px;
  border-bottom: 1px solid lightgray;
}
#header #logo {
  margin: 1% 3%;
  width: 15%;
}

#header #header-icon{
  margin: 1% 3%;
  width: 7%;
  cursor: pointer;
}
/* 컨테이너 */
#container {
  padding-top: 12%;
  padding-bottom: 12%;
}

/* 포스트 - 공통 */
.left-wrapper {
  margin-left: 3%;
  display: flex;
  flex-direction: row;
  /*align-items: center;*/
  width: 100%;
}

.right-wrapper {
  width: 50%;
  display: flex;
  justify-content: right;
  margin-right: 3%;
}

/* 포스트 - 헤더 */
.post-header {
  margin: 1% 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.post-header .left-wrapper img {
  width: 15%;
  height: 15%;
  border-radius: 50%;
  border: 1px solid lightgray;
  margin: 0 2%;
}
.post-header .left-wrapper p {
  margin-left: 2%;
  font-weight: bold;
  font-size: 14px;
}

.profile-txt {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-txt .post-location{
  font-size: 12px;

}

/* 포스트 - 바디 */
.post-body img {
  width: 100%;
}
.post-body .post-icons-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 1%;
}

/* 아이콘 크기가 달라서 부득이 하게 이렇게 만들었으나, 그냥 img 로 처리하는게 맞습니다! */
.post-body .post-icons-wrapper .left-wrapper .post-icon {
  margin: 1% 1%;
  width: 5%;
  cursor: pointer;
}
.post-body .post-icons-wrapper .left-wrapper .post-icon-2 {
  margin: 1% 1%;
  width: 5%;
  cursor: pointer;
}
.post-body .post-icons-wrapper .right-wrapper img {
  margin: 2% 4%;
  width: 11%;
}

/* 포스트 - 푸터 */
.post-footer {
  padding-left: 2%;
  border-bottom: 1px solid lightgray;
}
.post-footer .post-like-wrapper {
  display: flex;
  align-items: center;
  margin-left: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
}
.post-footer .post-like-wrapper img {
  width: 6%;
  height: 6%;
  border-radius: 50%;
  border: 1px solid lightgray;
  margin: 0 1%;
}
.post-footer .post-like-wrapper p {
  margin-bottom: 2%;
  margin-top: 2%;
  font-size: 14px;
}
.post-footer .post-content-wrapper {
  display: flex;
}

.post-footer .post-content-wrapper .post-author {
  margin: 0% 2% 0% 2%;
  font-weight: bold;
  font-size: 15px;
}
.post-footer .post-content-wrapper .post-content {
  margin: 0%;
  font-size: 14px;
}
.post-footer .post-tag {
  margin: 0% 2% 0% 2%;
  font-size: 12px;
}

.post-footer .post-comment {
  margin: 1% 2% 0% 2%;
  font-size: 14px;
}

.post-footer .post-time {
  color: gray;
  font-size: 10px;
  margin-left: 2%;
  margin-top: 5%;
}
#post_date{
  font-size: 11px;
}

/* 푸터 */
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 720px;
  border-top: 1px solid lightgray;
  background-color: white;
}
#footer #icon-wrapper {
  margin: 4% 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer #icon-wrapper img {
  width: 5%;
  cursor: pointer;
  margin-left : 15%;
  margin-right : 15%;
}


/* 댓글 모달 */
#comment-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  display: none;
  height:100%;
  padding: 5% 0;
}

#comment-modal #comment-modal-body{
  width:80%;
  height: 100%;
  background:#fff;
  border-radius:10px;
  position:relative;
  box-sizing:border-box;
  margin: auto;
  overflow-y: initial !important;
}

#comment-modal-body #cmb-header {
  margin-left: 2vw;
  height: 7%;
}
#comment-modal-body #cmb-header > img {
  width: 10%;
  margin-top: 2vw;
  cursor: pointer;
}

#comment-modal-body #cmb-content {
  width: 100%;
  height: 82%;
  margin-bottom: 2vw;
  overflow-y: auto;
}
#cmb-content #cmb-content-top-wrapper {
  width: 100%;
  border-bottom: 1px solid #F9C428;
}
#cmb-content #cmb-content-top-wrapper #cmb-post {
  width: 100%;
  padding: 0 3vw;
}
#cmb-content #cmb-content-bottom-wrapper {
  width: 100%;
  padding: 0 3vw;
}
#cmb-content #cmb-content-bottom-wrapper #cmb-comment #comment-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#comment-wrapper .comment-body {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 1vh 0;
}

#comment-wrapper .comment-body .body-wrapper {
  width: 100%
}
#comment-wrapper .comment-body .body-wrapper .comment-left{
  margin-right: 1vw;
  font-weight: bold;
  width: 10%;
}

#comment-wrapper .comment-body .delete-wrapper {
  width: 10%;
  text-align: right;
}
#comment-wrapper .comment-body .delete-wrapper .comment-delete.hide{
  display: none;
}
#comment-wrapper .comment-body .delete-wrapper .comment-delete > img{
  width: 18px;
  cursor: pointer;
}

#comment-modal-body #cmb-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 9%;
  padding: 0 1vw;
  border-top: 1px solid #F9C428;
}
#cmb-footer #cmb-write{
  width: 100%;
  margin-right: 3vw;
}
#cmb-footer #cmb-write-btn{
  width: 20%;
}
#cmb-footer #cmb-write-btn #comment-leave {
    width: 100%;
    padding: 5% 0;
    background-color: #F9C428;
    border: solid 0;
    font-size: 15px;
    border-radius: 50px;
    font-weight: bold;
    color: white;
    transition-duration: .2s;
}

@media (max-width: 768px) {
  body {
    max-width: 768px;
  }
  #header {
    max-width: 768px;
  }
  #footer {
    max-width: 768px;
  }
  #comment-modal #comment-modal-body{
    min-height: 620px;
  }
  #comment-wrapper .comment-body .comment-left{
    font-size: 12px;
    font-weight: bold;
  }
  #comment-wrapper .comment-body .comment-right{
    font-size: 11px;
  }
  #cmb-content-top-wrapper #cmb-post .post-content {
    margin-top: 15px;
    font-size: 14px;
  }
  #cmb-footer #cmb-write{
    margin-left: 2vw;
  }
  #cmb-footer #cmb-write-btn{
    margin-right: 2vw;
  }
  #cmb-footer #cmb-write #comment-writing{
    font-size: 12px;
  }
  #cmb-footer #cmb-write-btn #comment-leave{
    font-size: 12px;
  }
}