* {
  font-family: 'Gowun Dodum', sans-serif;
}

body {
  max-width: 720px;
  margin: 0 auto;
}

/* 헤더 */
#header {
  display: flex;
  justify-content: space-between;
  background-color: lightgoldenrodyellow;
  align-items: center;
  width: 100%;
  position: fixed;
  max-width: 720px;
  border-bottom: 1px solid lightgray;
  z-index: 2;
}
#header #logo {
  margin: 1% 3%;
  width: 15%;
}

#header #header-icon{
  margin: 1% 3%;
  width: 7%;
  cursor: pointer;
}
/* 컨테이너 */
#container {
  padding-top: 12%;
  padding-bottom: 12%;
  z-index: 1;
}

/* 포스트 - 공통 */
.left-wrapper {
  margin-left: 3%;
  display: flex;
  flex-direction: row;
  /*align-items: center;*/
  width: 100%;
}

.profile-txt {
  flex-direction: column;

}


.right-wrapper {
  width: 100%;
  display: flex;
  justify-content: right;
  margin-right: 3%;
}

/* 포스트 - 헤더 */
.post-header {
  margin: 1% 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.post-header .left-wrapper img {
  width: 15%;
  height: 15%;
  border-radius: 50%;
  border: 1px solid lightgray;
  margin: 0 2%;
}
.post-header .left-wrapper p {
  margin-left: 2%;
  font-weight: bold;
  font-size: 14px;
}

/* 포스트 - 바디 */
.post-body img {
  width: 100%;
}
.post-body .post-icons-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 1%;
}

/* 아이콘 크기가 달라서 부득이 하게 이렇게 만들었으나, 그냥 img 로 처리하는게 맞습니다! */
.post-body .post-icons-wrapper .left-wrapper .post-icon {
  margin: 1% 1%;
  width: 5%;
}
.post-body .post-icons-wrapper .left-wrapper .post-icon-2 {
  margin: 1% 1%;
  width: 4%;
}
.post-body .post-icons-wrapper .right-wrapper img {
  margin: 2% 4%;
  width: 11%;
}

/* 포스트 - 푸터 */
.post-footer {
  padding-left: 2%;
  border-bottom: 1px solid lightgray;
}
.post-footer .post-like-wrapper {
  display: flex;
  align-items: center;
  margin-left: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
}
.post-footer .post-like-wrapper img {
  width: 6%;
  height: 6%;
  border-radius: 50%;
  border: 1px solid lightgray;
  margin: 0 1%;
}
.post-footer .post-like-wrapper p {
  margin-bottom: 2%;
  margin-top: 2%;
  font-size: 14px;
}
.post-footer .post-content-wrapper {
  display: flex;
}

.post-footer .post-content-wrapper .post-author {
  margin: 0% 2% 0% 2%;
  font-weight: bold;
  font-size: 15px;
}
.post-footer .post-content-wrapper .post-content {
  margin: 0%;
  font-size: 14px;
}
.post-footer .post-tag {
  margin: 0% 2% 0% 2%;
  font-size: 12px;
}

.post-footer .post-comment {
  margin: 1% 2% 0% 2%;
  font-size: 14px;
}

.post-footer .post-time {
  color: gray;
  font-size: 10px;
  margin-left: 2%;
  margin-top: 5%;
}

/* 푸터 */
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 720px;
  border-top: 1px solid lightgray;
  background-color: white;
}
#footer #icon-wrapper {
  margin: 4% 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer #icon-wrapper img {
  width: 5%;
  cursor: pointer;
  margin-left : 15%;
  margin-right : 15%;
}

