body{
    max-width: 720px;
    margin: auto;
}
body img{
    object-fit: cover;
}
#backbtn{
    width: 8%;
    max-width: 30px;
    display:flex;
    position: fixed;
    margin: 3%;
    top:0;
    left:0;
    cursor:pointer;
}
#backbtn img{
    width: 100%;
    object-fit: cover;
    opacity:35%;
}
#input-wrap{
    width: 60%;
    max-width: 720px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.box{
    width:100%;
    display: flex;
    flex-direction: row;
    margin-top: 10%;
}
.check_btn{
    font-size: 10px;
    color: gray;
    display: absolute;
    border: solid 1px gray;
    background-color:
}
.check_btn:active {
    background-color: white;
    color: white;
}
.input_box{
    width: 100%;
    background-color: transparent;
    border:0;
    border-bottom: solid 1px lightgray;
    font-size: 12px;
}
#term-wrap{
    width: 100%;
    border: solid 1px lightgray;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    padding: 5%;
}
.btn{
    width: 100%;
}
#btn {
    width: 100%;
    margin-top: 10%;
    padding: 5% 0%;
    background-color: transparent;
    border: solid 2px lightgray;
    font-size: 12px;
    border-radius: 50px;
    font-weight: bold;
}
#btn:active{
    background-color: white;
    color: white;
}
label {
    display: block;
}