*{
    font-family: 'Gowun Dodum', sans-serif;
}
@media(max-width: 720px;){
    #container{
        width: auto;
    }
    #header{
        float: none;
        width: auto;
    }
    #info_container{
        float: none;
        width: auto;
    }
}
#container {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
}
#header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
#backbtn{
    width: 40%;
    display:flex;
    flex-direction: row;
    align-content: center;
}
#backbtn img{
    width: 30%;
    max-width: 50px;
    float: left;
}
#input-wrap{
    width: 60%;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.box{
    width:100%;
    display: flex;
    flex-direction: row;
}
.help{
    font-size: 11px;
    color: lightgray;
    text-align: left;
    margin-bottom: 3%;
}
.check_btn{
    font-size: 11px;
    color: #67BAB2;
    display: absolute;
    border: solid 1px #67BAB2;
    border-radius: 50px;
    background-color: transparent;
    transition-duration: .3s;
}
.check_btn:active {
    background-color: #67BAB2;
    color: white;
}
.input_box{
    width: 100%;
    background-color: transparent;
    border:0;
    border-bottom: solid 1px lightgray;
    font-size: 12px;
}
#term-wrap{
    width: 100%;
    border: solid 1px lightgray;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    padding: 5%;
    color: #757575;
}
#term-wrap input[type="checkbox"] {
    width: 15px;
    height: 15px;
    background-color: transparent;
    -webkit-appearance: none;
    border-radius: 50px;
    border: 2px solid gray;
    outline: none;
    position: relative;
    transition-duration: .3s;
}
#term-wrap input:checked[type="checkbox"] {
    background-color: #F9C428;
    border-color: #F9C428;
}

.btn{
    width: 100%;
    max-width: 300px;
}
#btn {
    width: 100%;
    max-width: 300px;
    margin-top: 10%;
    padding: 5% 0;
    background-color: #F9C428;
    border: solid 0;
    font-size: 12px;
    border-radius: 50px;
    font-weight: bold;
    color: white;
    transition-duration: .2s;
}
#btn:active{
    background-color: #F9C428;
    color: #F9C428;
}
label {
    display: block;
}


