<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <title>9k밥</title>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">

    <script>
        function goWrite(){
            window.location.href="/writepost"
        }
    </script>

</head>

<body>
<div id="main">
    <div id="header">
        <img id="logo" src="../static/images/9kbob_v01.png"/>
        <img id="header-icon" src="../static/images/1_rice.png"/>
    </div>
    <div id="container">
        <div id="post-container">
                <div class="post-wrapper">
                    <div class="post-header">
                        <div class="left-wrapper">
                            <img class="profileimg" src="../static/images/1_cookie.jpg"/>
                            <p>쿠키</p>
                        </div>
                        <div class="right-wrapper">
                            <img src="../static/images/more.png">
                        </div>
                    </div>
                    <div class="post-body">
                        <img src="../static/images/1_cookie.jpg">
                        <div class="post-icons-wrapper">
                            <div class="left-wrapper">
                                <!-- 아이콘 크기가 달라서 부득이 하게 이렇게 만들었으나, 클래스 없이 img로 처리하는게 맞습니다! -->
                                <img class="post-icon" src="../static/images/like.png">
                                <img class="post-icon-2" src="../static/images/comment.png">

                            </div>

                        </div>
                    </div>
                    <div class="post-footer">
                        <div class="post-like-wrapper">
                            <p><strong>쿠키</strong>님 <strong>외 1,234명</strong>이 좋아합니다</p>
                        </div>
                        <div class="post-content-wrapper">
                            <p class="post-author">쿠키</p>
                            <p class="post-content">안녕하세요</p>
                        </div>
                        <p class="post-time">
                            1시간 전
                        </p>
                    </div>
                </div>
                <div class="post-wrapper">
                    <div class="post-header">
                        <div class="left-wrapper">
                            <img src="../static/images/1_meat.jpg"/>
                            <p>국밥</p>
                        </div>
                        <div class="right-wrapper">
                            <img src="../static/images/more.png">
                        </div>
                    </div>
                    <div class="post-body">
                        <img src="../static/images/1_meat.jpg">
                        <div class="post-icons-wrapper">
                            <div class="left-wrapper">
                                <!-- 아이콘 크기가 달라서 부득이 하게 이렇게 만들었으나, 클래스 없이 img로 처리하는게 맞습니다! -->
                                <img class="post-icon" src="../static/images/like.png">
                                <img class="post-icon-2" src="../static/images/comment.png">

                            </div>

                        </div>
                    </div>
                    <div class="post-footer">
                        <div class="post-like-wrapper">
                            <p><strong>국밥</strong>님 <strong>외 1,000명</strong>이 좋아합니다</p>
                        </div>
                        <div class="post-content-wrapper">
                            <p class="post-author">국밥</p>
                            <p class="post-content">⭐⭐가성비 맛집 추천⭐⭐</p>
                        </div>
                        <p class="post-time">
                            10시간 전
                        </p>
                    </div>
                </div>
            </div>
    </div>
    <div id="footer">
        <div id="icon-wrapper">
            <img src="../static/images/home.png">
            <img src="../static/images/search.png">
            <img src="../static/images/trending.png" onclick="goWrite()">
        </div>
    </div>
</body>
</html>