<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <title>9k밥</title>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">

    <script>
        function login(){
            let id = $(`#floatingID`).val()
            let password = $(`#floatingPassword`).val()

            $.ajax({
                type: 'POST',
                url: '/login',
                data: {id_give: id, password_give: password},
                success: function (response) {
                    alert(response['msg'])

                }
            });
        }
    </script>

</head>

<body>
    <div id="main">
        <div id ="header">

        </div>
        <div id ="container">
            <img id="logo" src="../static/images/logo_9kbob.png">
            <div class="form-floating">
                <input type="email" class="form-control" id="floatingID" placeholder="name@example.com">
                <label for="floatingInput">ID</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button onclick="login()" class="btn btn-primary" type="button">Log in</button>
            </div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li>Not registred yet?&nbsp</li>
                    <li class="breadcrumb-item"><a href="home.html">Sign in</a></li>
                </ol>
            </nav>
            <div>
                <p id="firmname">9velopment</p>
            </div>

        </div>
        <div id ="footer">

        </div>
    </div>
</body>
</html>