<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/myfeed.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <title>9k밥 - 마이피드</title>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">

    <script>
        function goHome() {
            window.location.href = "/"
        }
        function goWrite() {
            window.location.href = "/writepost"
        }
        function goMypage(){
            window.location.href="/mypage"
        }

        function doDelete(post_id) {
            const is_delete = confirm("정말 이 게시글을 삭제하시겠습니까?");
            if (is_delete) {
                $.ajax({
                    type: 'POST',
                    url: '/api/myfeed/delete',
                    data: {post_id: post_id},
                    success: function (response) {
                        if (response['result'] == 'success') {
                            window.location.reload();
                        } else {
                            alert(response['msg'])
                            window.location.reload()
                        }
                    },
                    error: function (err) {
                        console.log('error:' + err)
                    }
                })
            }
        }
    </script>

</head>

<body>
<div id="main">
    <div id="header">
        <img id="logo" src="../static/images/9kbob_v01.png"/>
        <img id="header-icon" src="../static/images/1_rice.png" onclick="goMypage()"/>
    </div>
    <div id="container">
        <div id="post-container">
            {% for post in posts|sort(reverse=true, attribute="post_date") %}
                <div id="{{ post._id }}" class="post-wrapper">
                    <div class="post-header">
                        <div class="left-wrapper">
                            <img class="profile-img" src="../static/images/1_cookie.jpg"/>
                            <div class="profile-txt">
                                {{ post.userid }}
                                <br>
                                {{ post.location }}
                            </div>
                        </div>
                        <div class="right-wrapper">
                            <div class="dropdown dropstart">
                                <a class="dropdown-img" href="#" role="button" id="dropdownMenuLink"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="{{url_for('static', filename='images/more.png')}}">
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li><a class="dropdown-item" href="/mypostedit?pi={{post._id}}">수정</a></li>
                                    <li><a class="dropdown-item" href="#" onclick="doDelete('{{post._id}}'); return;">삭제</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="post-body">
                        <img src="/static/uploads/{{ post.photo }}">
                        <div class="post-icons-wrapper">
                            <div class="left-wrapper">
                                <!-- 아이콘 크기가 달라서 부득이 하게 이렇게 만들었으나, 클래스 없이 img로 처리하는게 맞습니다! -->
                                <img class="post-icon" src="../static/images/like.png">
                                <img class="post-icon-2" src="../static/images/comment.png">
                            </div>
                        </div>
                    </div>
                    <div class="post-footer">
                        <div class="post-like-wrapper">
                            <p><strong>쿠키</strong>님 <strong>외 1,234명</strong>이 좋아합니다</p>
                        </div>
                        <div class="post-content-wrapper">
                            <p class="post-author">{{ post.userid }}</p>
                            <p class="post-content">{{ post.writing }}</p>
                        </div>
                        <div class="post-content-tag">
                            <p class="post-tag">{{ post.tag }}</p>
                        </div>
                        <div class="post-comment">
                            {% set commentzip = {} %}
                            {% set count = namespace(value=0) %}
                            {% for comment in comments %}
                                {% set var1 = post._id|string %}
                                {% set var2 = comment.post_id %}
                                {% if var1 == var2 %}
                                    {% set x=commentzip.__setitem__(count.value, {'id': comment.userid, 'msg': comment.comment}) %}
                                    {% set count.value = count.value + 1 %}
                                {% endif %}
                            {% endfor %}

                            {% for key, value in commentzip.items() %}
                                {% if loop.index == loop.length %}
                                <li>{{ value["id"] }} - {{ value["msg"] }}</li>
                                {% endif %}
                            {% endfor %}

                        </div>
                        <p class="post-time">
                            1시간 전
                        </p>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
    <div id="footer">
        <div id="icon-wrapper">
            <img src="../static/images/home.png" onclick="goHome()">
            <img src="../static/images/search.png">
            <img src="../static/images/trending.png" onclick="goWrite()">
        </div>
    </div>
</div>
</body>
</html>